
/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #222831;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #00ADB5;
}

.App-body {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.App-graph {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.App-buttons {
    display: flex;
    justify-content: space-between;
}

.App-button {
  background-color: #393E46;
  color: #EEEEEE;
  min-width: 10vh;
  min-height: 2vh;
  margin: 10px;
}

.App-button-selected {
  background-color: #00ADB5;
  color: #EEEEEE;
  min-width: 10vh;
  min-height: 2vh;
  margin: 10px;
}